<div class="center-container">
  <mat-card class="teacher-card">
    <mat-card-content class="card-content">
      <div class="teacher-info">
        <mat-card-title>{{ profesor.nombre }} {{ profesor.apellido }}</mat-card-title>
        <p><strong>Calificación:</strong> {{ profesor.calificacion }}</p>
        <p><strong>Correo:</strong> {{ profesor.correo }}</p>
      </div>
      <img src="../../../../assets/img/imgDefault.jpg" alt="Imagen del profesor" class="teacher-image">
    </mat-card-content>
  </mat-card>
</div>
