.center-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 35vh; /* Esto asegura que el contenedor ocupe todo el alto de la pantalla */
}

.teacher-card {
  width: 450px; /* Establecemos un ancho máximo para la tarjeta */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
  align-items: center; /* Centra horizontalmente el contenido */
  padding: 16px;
}

.teacher-info {
  margin-bottom: 20px; /* Espacio entre la imagen y la información del profesor */
}

.teacher-image {
  width: 50px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: 50px;
  border-radius: 50%;
}

.teacher-card mat-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.teacher-card p {
  margin: 4px 0;
}

.teacher-card strong {
  font-weight: bold;
  color: #333;
}

/* Personaliza los estilos según tus preferencias */
